body{
    background-color: blanchedalmond;
    color: black;
    font-family: "Audiowide", sans-serif;
}

section{
border:solid;

.categoria-vídeos{
display: flex;
overflow-x: auto;
gap: 10px;

}

.categoria-vídeos {
opacity: 0.5;

}

.categoria-vídeos.houver{
opacity: 1,0;
 border: 1px solid green;

}
